<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
</head>
<body>
            <div class="header">
                <h4>Bean & Brew</h4>
                <p>Thank you for you payment</p>
            </div>
   <script>
    </script>
      <h3>Receipt</h3>

                    Customer Name:  {{recentp.cust_name}} <br>
                    Order No:       {{recentp.order_no}} <br>
                    Item:           {{food_name}}         <br>
                    Price:          {{food_price}}        <br>
                    Quantity:       {{quantity}}           <br>
                    Amount- Paid:   £{{recentp.total_price}} <br>
   <a href="{{url_for('welcome')}}"> Return to  ? Home Page </a>
  </body>
</html>